@*@model IEnumerable<QuanLyHocSinh.Models.ClassModel>*@
@model PagedList.IPagedList<QuanLyHocSinh.Models.ClassModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Class";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="text-align: center">@ViewBag.Message</h3>
<br />
<form method="get">
    <table>
            <tr>
                <th style="padding-right: 700px">
                    <p>
                        @Html.ActionLink("Create New Class", "Create")
                    </p>
                </th>
                <th style="padding-bottom: 10px">
                    <input type="text" id="name" name="name" />
                    <button class="btn btn-lg btn-success" type="submit" value="Index" style=" height: 30px; padding-top: 1px ">Search</button>
                </th>
            </tr>
    </table>
</form>
<table class="table table-bordered">
    <tr>
        <th style="text-align: center">
            ID
        </th>
        <th style="text-align: center">
            Ten lop
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td style="text-align: center">
            @Html.DisplayFor(modelitem => item.ID)
        </td>
        <td style="text-align: center">
            @Html.DisplayFor(modelitem => item.Name)
        </td>

        <td style="text-align: center">
            @Html.ActionLink("Edit", "Edit", new { id = item.ID })
        </td>
        <td style="text-align: center">
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
        <td style="text-align: center">
            @Html.ActionLink("Add New Student", "InsertStudent", new { id = item.ID })
        </td>
        <td style="text-align: center">
            @Html.ActionLink("View Student", "ViewStudent", new { id = item.ID })
        </td>
    </tr>
    }
</table>
<div style="margin:30px">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
