@*@model IEnumerable<QuanLyHocSinh.Models.StudentModel>*@
@model PagedList.IPagedList<QuanLyHocSinh.Models.StudentModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="text-align:center">@ViewBag.Message</h3>
<br />
<form method="get">
    <table>
        <tr>
            <th>
                <h3 style="padding-right: 830px;padding-bottom: 30px"></h3>
            </th>
            <th style="">
                <input type="text" id="key" name="key" />
                <button class="btn btn-lg btn-success" type="submit" value="Index">Search</button>
            </th>
        </tr>
    </table>
</form>


<form method="get">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th style="text-align: center">
                    ID
                </th>
                <th style="text-align: center">
                    Họ
                </th>
                <th style="text-align: center">
                    Tên
                </th>
                <th style="text-align: center">
                    Mã sinh viên
                </th>
                <th style="text-align: center">
                    Tên lớp
                </th>
                <th></th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelitem => item.ID)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelitem => item.FirstName)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelitem => item.LastName)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelitem => item.Code)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelitem => item.GetClassById(item.ClassID).Name)
                    </td>
                    <td style="text-align: center">
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    </td>
                    <td style="text-align: center">
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
    </table>
</form>
<div style="margin:30px">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>